<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/EncSbox.css">
    <title>Encrypt</title>
    <script type="module" src="/javascript/EncSbox.js"></script>

</head>
<body class="hae">
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  
  <h1>Substitution Box</h1>

  <div class="grid-container">
    <div class="grid-cell left  c1 r1">
      <span></span>
    </div>
    <div class="grid-cell left  c2 r1">
      <span></span>
    </div>
    <div class="grid-cell left  c3 r1">
      <span></span>
    </div>
    <div class="grid-cell  left c4 r1">
      <span></span>
    </div>
    <div class="grid-cell  left c1 r2">
      <span></span>
    </div>
    <div class="grid-cell  left c2 r2">
      <span></span>
    </div>
    <div class="grid-cell  left c3 r2">
      <span></span>
    </div>
    <div class="grid-cell  left c4 r2">
      <span></span>
    </div>
    <div class="grid-cell  left c1 r3">
      <span></span>
    </div>
    <div class="grid-cell  left c2 r3">
      <span></span>
    </div>
    <div class="grid-cell  left c3 r3">
      <span></span>
    </div>
    <div class="grid-cell  left c4 r3">
      <span></span>
    </div>
    <div class="grid-cell  left c1 r4">
      <span></span>
    </div>
    <div class="grid-cell  left c2 r4">
      <span></span>
    </div>
    <div class="grid-cell  left c3 r4">
      <span></span>
    </div>
    <div class="grid-cell  left c4 r4">
      <span></span>
    </div>
  </div>
    
 


<div class="portal">

</div>


  <div class="game-container2 b1">
    <div class="grid-container">
      <div class="grid-cell right  c1 r1">
        <span></span>
      </div>
      <div class="grid-cell right  c2 r1">
        <span></span>
      </div>
      <div class="grid-cell right  c3 r1">
        <span></span>
      </div>
      <div class="grid-cell right  c4 r1">
        <span></span>
      </div>
      <div class="grid-cell right  c1 r2">
        <span></span>
      </div>
      <div class="grid-cell right  c2 r2">
        <span></span>
      </div>
      <div class="grid-cell right  c3 r2">
        <span></span>
      </div>
      <div class="grid-cell right  c4 r2">
        <span></span>
      </div>
      <div class="grid-cell right  c1 r3">
        <span></span>
      </div>
      <div class="grid-cell right  c2 r3">
        <span></span>
      </div>
      <div class="grid-cell right  c3 r3">
        <span></span>
      </div>
      <div class="grid-cell  right c4 r3">
        <span></span>
      </div>
      <div class="grid-cell right  c1 r4">
        <span></span>
      </div>
      <div class="grid-cell right  c2 r4">
        <span></span>
      </div>
      <div class="grid-cell  right c3 r4">
        <span></span>
      </div>
      <div class="grid-cell  right c4 r4">
        <span></span>
      </div>
    </div>
  </div>

  <a href="/shift_rows"><button type="button" class="btn btn-outline-dark btn-lg">NEXT SHIFT-ROWS</button></a>

</div>


<!-- <script type="module" src="/javascript/encrypt.js"></script> -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
  integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script type="module" src="/javascript/EncSbox.js"></script>

</body>
</html>