<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/keyallxor.css">
    <title>Key Expansions </title>
 
    <script type="module" src="/javascript/keyallxor.js"></script>
  </head>
<body>

  

<div class="boxes section1">




  <div class="hh">
    <h1>FINAL KEY GENERATED!!!</h1>
    <p class="font-weight-normal">Similarly, more 10 round keys are created by using the generated key as the new base key. </p>  
  </div>

  <div class="game-container">
    <div class="grid-container">
      <div class="left grid-cell c1">
        <span>S</span>
      </div>
      <div class="left grid-cell c2">
        <span></span>
      </div>
      <div class="left grid-cell c3">
        <span></span>
      </div>
      <div class="grid-cell all c4">
        <span></span>
      </div>
      <div class="left grid-cell c1">
        <span>O</span>
      </div>
      <div class="left grid-cell c2">
        <span>I</span>
      </div>
      <div class="left grid-cell c3">
        <span>B</span>
      </div>
      <div class="grid-cell all c4">
        <span>K</span>
      </div>
      <div class="left grid-cell c1">
        <span>M</span>
      </div>
      <div class="left grid-cell c2">
        <span>2</span>
      </div>
      <div class="left grid-cell c3">
        <span>I</span>
      </div>
      <div class="grid-cell all c4">
        <span>E</span>
      </div>
      <div class="left grid-cell c1">
        <span>E</span>
      </div>
      <div class="left grid-cell c2">
        <span>8</span>
      </div>
      <div class="left grid-cell c3">
        <span>T</span>
      </div>
      <div class="grid-cell all c4">
        <span>Y</span>
      </div>
    </div>



    <div class="game-container">
        <div class="grid-container1">
          
            <div class="left grid-cell rc1">
                <span>b2</span>
              </div>
              <div class="left grid-cell rc2">
                <span>e1</span>
              </div>
              <div class="left grid-cell rc3">
                <span>c1</span>
              </div>
              <div class="grid-cell all rc4">
                <span>e1</span>
              </div>
              <div class="left grid-cell rc1">
                <span>6e</span>
              </div>
              <div class="left grid-cell rc2">
                <span>21</span>
              </div>
              <div class="left grid-cell rc3">
                <span>10</span>
              </div>
              <div class="grid-cell all rc4">
                <span>52</span>
              </div>
              <div class="left grid-cell rc1">
                <span>cb</span>
              </div>
              <div class="left grid-cell rc2">
                <span>86</span>
              </div>
              <div class="left grid-cell rc3">
                <span>b4</span>
              </div>
              <div class="grid-cell all rc4">
                <span>fd</span>
              </div>
              <div class="left grid-cell rc1">
                <span>b7</span>
              </div>
              <div class="left grid-cell rc2">
                <span>f2</span>
              </div>
              <div class="left grid-cell rc3">
                <span>ca</span>
              </div>
              <div class="grid-cell all rc4">
                <span>9e</span>
              </div>
        </div>

  </div>


  





  <img  class="xor" src="/images/xorr.png" alt="" width="50" height="50">

  <img  class="right" src="/images/right.png" alt="" width="50" height="50">






  
<div class="game-container">
        <div class="grid-container2">
          
            <div class="left grid-cell ansc1">
                <span>e1</span>
              </div>
              <div class="left grid-cell ansc2">
                <span>c1</span>
              </div>
              <div class="left grid-cell ansc3">
                <span>e1</span>
              </div>
              <div class="grid-cell all ansc4">
                <span>c1</span>
              </div>



              <div class="left grid-cell ansc1">
                <span>21</span>
              </div>
              <div class="left grid-cell ansc2">
                <span>10</span>
              </div>
              <div class="left grid-cell ansc3">
                <span>52</span>
              </div>
              <div class="grid-cell all ansc4">
                <span>19</span>
              </div>

              <div class="left grid-cell ansc1">
                <span>86</span>
              </div>
              <div class="left grid-cell ansc2">
                <span>b4</span>
              </div>
              <div class="left grid-cell ansc3">
                <span>fd</span>
              </div>
              <div class="grid-cell all ansc4">
                <span>b8</span>
              </div>

              <div class="left grid-cell ansc1">
                <span>f2</span>
              </div>
              <div class="left grid-cell ansc2">
                <span>ca</span>
              </div>
              <div class="left grid-cell ansc3">
                <span>9e</span>
              </div>
              <div class="grid-cell all ansc4">
                <span>c7</span>
              </div>

        </div>

  </div>


  <a href="/"><button type="button" class="btn btn-outline-dark btn-lg">HOME</button></a>


</div>
















  
 
<script type="module" src="/javascript/keyallxor.js"></script>


  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
  integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script type="module" src="/javascript/keyallxor.js"></script>

</body>
</html>