<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/MxCol.css">
    <title>Mix Coloumns</title>
    <script type="module" src="/javascript/MxCol.js"></script>

</head>
<body class="hae">
  <h1 class="header">MIX COLUMNS STEP</h1>

  <div class="area" >
  <ul class="circles">
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
          <li></li>
  </ul>
</div >

  <div class="game-container">

    <div class="grid-container">
      <div class="grid-cell Ac1r1">
        <span>c9</span>
      </div>
      <div class="grid-cell Ac2r1">
        <span>fb</span>
      </div>
      <div class="grid-cell Ac3r1">
        <span>92</span>
      </div>
      <div class="grid-cell Ac4r1">
        <span>f5</span>
      </div>
      <div class="grid-cell Ac1r2">
        <span>da</span>
      </div>
      <div class="grid-cell Ac2r2">
        <span>aa</span>
      </div>
      <div class="grid-cell Ac3r2">
        <span>6b</span>
      </div>
      <div class="grid-cell Ac4r2">
        <span>af</span>
      </div>
      <div class="grid-cell Ac1r3">
        <span>d7</span>
      </div>
      <div class="grid-cell Ac2r3">
        <span>43</span>
      </div>
      <div class="grid-cell Ac3r3">
        <span>d4</span>
      </div>
      <div class="grid-cell Ac4r3">
        <span>c9</span>
      </div>
      <div class="grid-cell Ac1r4">
        <span>6a</span>
      </div>
      <div class="grid-cell Ac2r4">
        <span>f2</span>
      </div>
      <div class="grid-cell Ac3r4">
        <span>b6</span>
      </div>
      <div class="grid-cell Ac4r4">
        <span>59</span>
      </div>
    </div>
  </div>

  <img src="/images/downl.png" class="imgg" alt="Italian Trulli">

  <img  class="right" src="/images/right.png" alt="" width="50" height="50">

  <div class="game-container">
    <div class="grid-container0">
      <div class="grid-cell Bc1r1 l1">
        <span>41</span>
      </div>
      <div class="grid-cell Bc1r2 l1">
        <span>b9</span>
      </div>
      <div class="grid-cell Bc1r3 l1">
        <span>e0</span>
      </div>
      <div class="grid-cell Bc1r4 l1">
        <span>8b</span>
      </div>
      <div class="grid-cell Bc2r1">
        <span>6e</span>
      </div>
      <div class="grid-cell Bc2r2">
        <span>83</span>
      </div>
      <div class="grid-cell Bc2r3">
        <span>95</span>
      </div>
      <div class="grid-cell Bc2r4">
        <span>a9</span>
      </div>
      <div class="grid-cell Bc3r1">
        <span>18</span>
      </div>
      <div class="grid-cell Bc3r2">
        <span>da</span>
      </div>
      <div class="grid-cell Bc3r3">
        <span>8b</span>
      </div>
      <div class="grid-cell Bc3r4">
        <span>38</span>
      </div>
      <div class="grid-cell Bc4r1">
        <span>99</span>
      </div>
      <div class="grid-cell Bc4r2">
        <span>00</span>
      </div>
      <div class="grid-cell Bc4r3">
        <span>65</span>
      </div>
      <div class="grid-cell Bc4r4">
        <span>d0</span>
      </div>
    </div>
  </div>


  <div class="game-container">
    <div class="grid-container1">
      <div class="grid-cell Rc1r1">
        <span>2</span>
      </div>
      <div class="grid-cell Rc2r1">
        <span>3</span>
      </div>
      <div class="grid-cell Rc3r1">
        <span>1</span>
      </div>
      <div class="grid-cell Rc4r1">
        <span>1</span>
      </div>
      <div class="grid-cell Rc1r2">
        <span>1</span>
      </div>
      <div class="grid-cell Rc2r2">
        <span>2</span>
      </div>
      <div class="grid-cell Rc3r2">
        <span>3</span>
      </div>
      <div class="grid-cell Rc4r2">
        <span>1</span>
      </div>
      <div class="grid-cell Rc1r3">
        <span>1</span>
      </div>
      <div class="grid-cell Rc2r3">
        <span>1</span>
      </div>
      <div class="grid-cell Rc3r3">
        <span>2</span>
      </div>
      <div class="grid-cell Rc4r3">
        <span>3</span>
      </div>
      <div class="grid-cell Rc1r4">
        <span>3</span>
      </div>
      <div class="grid-cell Rc2r4">
        <span>1</span>
      </div>
      <div class="grid-cell Rc3r4">
        <span>1</span>
      </div>
      <div class="grid-cell Rc4r4">
        <span>2</span>
      </div>

    </div>
    <a href="/roundxor"><button type="button" class="btn btn-outline-light btn-lg">NEXT KEY-ADDITION</button></a>


  </div>

<!-- <script type="module" src="/javascript/encrypt.js"></script> -->
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
  integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script type="module" src="/javascript/MxCol.js"></script>

</body>
</html>