<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/roundxor.css">
    <title>RoundkeyXor </title>
 
    <script type="module" src="/javascript/roundxor.js"></script>
  </head>
<body>
  <div class="bg"></div>
  <div class="bg bg2"></div>
  <div class="bg bg3"></div>
  
<div class="boxes section">
  <h1 class="header">KEY ADDITION</h1>
  <div class="hh">

    <p class="font-weight-normal">This is how 1 round of encryption works, this same process goes on for the next 9 rounds.
      Except, the last round doesn't have mix-columns step .
    </p>
  
  </div>
  <div class="game-container">
    <div class="grid-container1">
      <div class="grid-cell left">
        <span>41</span>
      </div>
      <div class="grid-cell left">
        <span>b9</span>
      </div>
      <div class="grid-cell left">
        <span>e0</span>
      </div>
      <div class="grid-cell left  ">
        <span>8b</span>
      </div>
      <div class="grid-cell left">
        <span>6e</span>
      </div>
      <div class="grid-cell left">
        <span>83</span>
      </div>
      <div class="grid-cell left">
        <span>95</span>
      </div>
      <div class="grid-cell left  ">
        <span>a9</span>
      </div><div class="grid-cell left">
        <span>18</span>
      </div>
      <div class="grid-cell left">
        <span>da</span>
      </div>
      <div class="grid-cell left">
        <span>8b</span>
      </div>
      <div class="grid-cell left  ">
        <span>38</span>
      </div><div class="grid-cell left">
        <span>99</span>
      </div>
      <div class="grid-cell left">
        <span>00</span>
      </div>
      <div class="grid-cell left">
        <span>65</span>
      </div>
      <div class="grid-cell left  ">
        <span>d0</span>
      </div>
    </div>


    <img  class="xor" src="/images/xorr.png" alt="" width="150" height="150">
    <div class="grid-container2">
      <div class="grid-cell right">
        <span>e1</span>
      </div>
      <div class="grid-cell right">
        <span>c1</span>
      </div>
      <div class="grid-cell right">
        <span>e1</span>
      </div>
      <div class="grid-cell  right">
        <span>c1</span>
      </div>
      <div class="grid-cell right">
        <span>21</span>
      </div>
      <div class="grid-cell right">
        <span>10</span>
      </div>
      <div class="grid-cell right">
        <span>52</span>
      </div>
      <div class="grid-cell  right">
        <span>19</span>
      </div><div class="grid-cell right">
        <span>86</span>
      </div>
      <div class="grid-cell right">
        <span>b4</span>
      </div>
      <div class="grid-cell right">
        <span>fd</span>
      </div>
      <div class="grid-cell  right">
        <span>b8</span>
      </div><div class="grid-cell right">
        <span>f2</span>
      </div>
      <div class="grid-cell right">
        <span>ca</span>
      </div>
      <div class="grid-cell right">
        <span>9e</span>
      </div>
      <div class="grid-cell  right">
        <span>c7</span>
      </div>
    </div>


    <div class="grid-container3">
      <div class="grid-cell center">
        <span>a0</span>
      </div>
      <div class="grid-cell center">
        <span>78</span>
      </div>
      <div class="grid-cell center">
        <span>01</span>
      </div>
      <div class="grid-cell center">
        <span>4a</span>
      </div><div class="grid-cell center">
        <span>4f</span>
      </div>
      <div class="grid-cell center">
        <span>93</span>
      </div>
      <div class="grid-cell center">
        <span>c7</span>
      </div>
      <div class="grid-cell center">
        <span>b0</span>
      </div><div class="grid-cell center">
        <span>9e</span>
      </div>
      <div class="grid-cell center">
        <span>6e</span>
      </div>
      <div class="grid-cell center">
        <span>76</span>
      </div>
      <div class="grid-cell center">
        <span>80</span>
      </div><div class="grid-cell center">
        <span>6b</span>
      </div>
      <div class="grid-cell center">
        <span>ca</span>
      </div>
      <div class="grid-cell center">
        <span>fb</span>
      </div>
      <div class="grid-cell center">
        <span>17</span>
      </div>
    </div>
  </div>


  <a href="/"><button type="button" class="btn btn-outline-dark btn-lg">HOME</button></a>

</div>










  
 
<script type="module" src="/javascript/roundxor.js"></script>


  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
  integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script type="module" src="/javascript/roundxor.js"></script>

</body>
</html>