<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/roundxor.css">
    <title>RoundkeyXor </title>
 
    <script type="module" src="/javascript/roundxor.js"></script>
  </head>
<body>

<div class="boxes section">

  <div class="game-container">
    <div class="grid-container1">
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left  ">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left  ">
        <span></span>
      </div><div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left  ">
        <span></span>
      </div><div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left">
        <span></span>
      </div>
      <div class="grid-cell left  ">
        <span></span>
      </div>
    </div>


    <img  class="xor" src="/images/xorr.png" alt="" width="150" height="150">
    <div class="grid-container2">
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell  right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell  right">
        <span></span>
      </div><div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell  right">
        <span></span>
      </div><div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell right">
        <span></span>
      </div>
      <div class="grid-cell  right">
        <span></span>
      </div>
    </div>


    <div class="grid-container3">
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div><div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div><div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div><div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
      <div class="grid-cell center">
        <span></span>
      </div>
    </div>
  </div>


  <a href="/"><button type="button" class="btn btn-outline-dark btn-lg">NEXT</button></a>

</div>










  
 
<script type="module" src="/javascript/roundxor.js"></script>


  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
  integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script type="module" src="/javascript/roundxor.js"></script>

</body>
</html>