<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/shift_rows.css">
    <title>Splitwise</title>

    <script type="module" src="/javascript/shift_rows.js"></script>
</head>
<body>
Shift Rows
  <div class="game-container">
    <div class="grid-container">
      <div class="grid-cell a1">
        <span></span>
      </div>
      <div class="grid-cell a2">
        <span></span>
      </div>
      <div class="grid-cell a3">
        <span></span>
      </div>
      <div class="grid-cell a4">
        <span></span>
      </div>
      <div class="grid-cell a5">
        <span></span>
      </div>
      <div class="grid-cell a6">
        <span></span>
      </div>
      <div class="grid-cell a7">
        <span></span>
      </div>
      <div class="grid-cell a8">
        <span></span>
      </div>
      <div class="grid-cell a9">
        <span></span>
      </div>
      <div class="grid-cell a10">
        <span></span>
      </div>
      <div class="grid-cell a11">
        <span></span>
      </div>
      <div class="grid-cell a12">
        <span></span>
      </div>
      <div class="grid-cell a13">
        <span></span>
      </div>
      <div class="grid-cell a14">
        <span></span>
      </div>
      <div class="grid-cell a15">
        <span></span>
      </div>
      <div class="grid-cell a16">
        <span></span>
      </div>
    </div>
    <a href="/mix_column"><button type="button" class="btn btn-outline-secondary btn-lg">NEXT</button></a>
  </div>

  <script type="module" src="/javascript/shift_rows.js"></script>
  <script
  src="https://cdnjs.cloudflare.com/ajax/libs/animejs/3.2.1/anime.min.js"
  integrity="sha512-z4OUqw38qNLpn1libAN9BsoDx6nbNFio5lA6CuTp9NlK83b89hgyCVq+N5FdBJptINztxn1Z3SaKSKUS5UP60Q=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
></script>
<script type="module" src="/javascript/shift_rows.js"></script>


</body>
</html>