
  .grid-container1 {
    display: grid;
    grid-template-columns: repeat(1, 106.25px);
    grid-gap: 15px;
    position: relative;
    margin-left: 400px;
    margin-top: 100px;
    /* margin-bottom: 100px; */
  }
  .grid-container2 {
    display: grid;
    grid-template-columns: repeat(1, 106.25px);
    grid-gap: 15px;
    position: absolute;
    top: 100px;
    margin-left: 950px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
  }


  .grid-container3 {
    display: grid;
    grid-template-columns: repeat(1, 106.25px);
    grid-gap: 15px;
    position: absolute;
    top: 100px;
    margin-left: 675px;
    /* margin-top: 100px; */
    /* margin-bottom: 100px; */
    opacity: 1;
  }
  .grid-cell {
    height: 106.25px;
    border-radius: 3px;
    background: #F8FFDB;
    text-align: right, bottom;
  }

.boxes{
    height: 100vh;
    font-size: 60px;
    border: solid 2px black;
}





 
  .btn{
    margin-left: 40%;
  }


  .xor{
    position: absolute;
    left: 43%;
    top: 40%;
  }
  .bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
  }
  
  .bg2 {
    animation-direction:alternate-reverse;
    animation-duration:4s;
  }
  
  .bg3 {
    animation-duration:5s;
  }


  
@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}